@import '~nav-frontend-core/less/core';

* {
  margin: 0;
}

body {

}
.knapp {
  margin: 2% 2% 0 0;
}

.datovelgere {
  margin: 2% 2% 0 0;
  padding: 5px 0 5px 0;
}

.datovelgere{
  padding-block: 5px;
}
.tekstfelt {
  width: 50%;
  margin: 0 25% 0 25%;
}
.wrapper {
  grid: 'auto-flow';
  text-align: left;
  margin-left: 25%;
  padding: 15px 0 15px 0;
}

