@import '~nav-frontend-core/less/core';

* {
  margin: 0;
}

body {

}
.knapp {
 margin-top: 2%;
}

.tekstfelt {
  width: 50%;
  margin: 0 25% 0 25%;
}
.wrapper {
  grid: 'auto-flow';
  text-align: left;
  margin-left: 25%;
  padding: 15px 0 15px 0;
}

